@import url('./assets/fonts/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		overflow-x: hidden !important;
		font-family: 'Tw Cen MT Std Regular', sans-serif;
	}
}

@layer components {
	.contact-input {
		@apply rounded-md bg-slate-300 text-xl py-2 px-3 focus:placeholder:opacity-0  focus:caret-transparent focus:outline-slate-800;
	}
	.contact-lable {
		@apply text-slate-700 text-base;
	}
	.hero-bg {
		background-image: url('./assets/trailer-hero.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
	.DESKTOP-NAV > a,
	.MOBILE-NAV > a {
		@apply hover:opacity-70;
	}
}

@layer utilities {
	.cursive {
		font-family: 'Second Lesson Regular', cursive;
	}
	.tw-standard {
		font-family: 'Tw Cen MT Std Regular', sans-serif;
	}
	.tw-semi-medium {
		font-family: 'Tw Cen MT Std Semi Medium', sans-serif;
	}
}
